{% extends "AirWebAppBundle::layout.html.twig" %}

{% block main_container %}

    {{ parent() }}

    <div class="container-fluid">
        <div class="row">
            <div class=".col-xs-9 .col-sm-9 col-md-9 .col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Seek for air quality in any location</div>
                    <div class="panel-body">
                      <div id="map_canvas"></div>
                    </div>
                </div>
            </div>
            <div class=".col-xs-3 .col-sm-3 col-md-3 .col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Image Gallery</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        </div>
    </div>        
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
      {#function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);#}
    </script>
{% endblock %}